HTML {
    background: white;
}

.page-header h1 {
    margin-left: 20px;
    font-family: 'Arvo', serif;
    color: #202124;
    padding-top: 10px;
}

.container-fluid {
    padding-bottom: 300px !important;
    overflow: hidden !important;
}

.mainbodycontainer{
    padding-left: 50px;
}

.page-header {
    background: #F2F2F2;
    border: 1px, solid #F2F2F2;
    border-radius:  1px 1px 45px 1px

}

.page-headerText {
    color: #1F2833 !important;
    font-family: 'Arvo', serif;
}

.navbar {
    background: #1F2833;
    width: 100%;
}

.card-header {
    background: white;
}

i.fas {
    color: #1F2833;
}

.card-header:first-child {
    border-radius: 0px !important;
}

.form-control {
    border-radius: 0px !important;
}

input {
    border: none !important;
    border-bottom: 1px solid lightgray !important;
}

select {
    border: none !important;
    border-bottom: 1px solid lightgray !important;
}

textarea {
    border: none;
    border-bottom: 1px solid lightgray !important;
}

label {
    font-family: "Roboto", "sans-serif";
    font-size: .9em;
    color: #1F2833;
    padding-right: 5px;
    padding-left: 5px;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #F2F2F2;
    opacity: 1;
}

.btn-outline-info.focus, .btn-outline-info:focus {
    box-shadow: none;
}

.btn-outline-success.focus, .btn-outline-success:focus {
    box-shadow: none;
}

.btn-outline-danger.focus, .btn-outline-danger:focus {
    box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid lightgray !important;
}

th {
    background: #1F2833;
    color: #F2F2F2;
}

.react-date-picker__wrapper {
    border: none !important;
}

.alert {
    padding: none !important;
    margin: none !important;
    border: none !important;
}

.alert-danger {
    color: red !important;
    background: none !important;
}

.alert-primary {
    background: none;
}

h6 {
    margin-bottom: .05em !important;
}